@{
    ViewData["Title"] = "Home Page";
}
@model User
<link rel="stylesheet" href="~/css/Edit.css"/>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Merriweather&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Chicago Connection</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/logout">Logout</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" href="/home">Dashboard</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
<div class="container">
<div class="card">
    <div class="card-header bg-warning text-white">Edit profile</div>
    <div class="card-body">
    <form action="/update/@Model.UserId" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label asp-for="FirstName">First Name: </label>
                <input asp-for="FirstName" class="form-control">
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
        <div class="form-group">
        <label asp-for="LastName">Last Name: </label>
        <input asp-for="LastName" class="form-control">
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
        <div class="form-group">
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" class="form-control">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
        <div class="form-group">
        <label asp-for="Password">Password: </label>
        <input asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
        <div class="form-group">
        <label asp-for="Confirm">Confirm: </label>
        <input asp-for="Confirm" class="form-control">
        <span class="text-danger" asp-validation-for="Confirm"></span>
    </div>
        <div class="form-group">
        <label asp-for="Description">Description: </label>
        <input type="textarea" asp-for="Description" class="form-control">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
        <div class="form-group">
        <label asp-for="Handle">Handle: </label>
        <input asp-for="Handle" class="form-control">
        <span class="text-danger" asp-validation-for="Handle"></span>
    </div>
        <div class="form-group">
        <label asp-for="Industry">Industry: </label>
        <input asp-for="Industry" class="form-control">
        <span class="text-danger" asp-validation-for="Industry"></span>
    </div>
        <div class="form-group">
        <label asp-for="ImgUrl">Profile Image:</label>
        <input asp-for="ImgUrl" class="form-control">
        <span class="text-danger" asp-validation-for="ImgUrl"> </span>
</div>
    <input type="submit" id="btns" value="Save" class="btn btn-warning btn-outline-dark">
</form>
</div>