@{
    ViewData["Title"] = "Start Page";
}
<link rel="stylesheet" href="~/css/Start.css"/>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<div class="container">
<div style="display:inline-block;" class="col-lg-8 mb-4">
    <partial name="RegisterPartial" />
</div>
<a asp-controller="Home" asp-action="Index">Go Back</a>
<div style="display:inline-block; margin-left: 50%;" class="col-lg-3 mb-4">
    <partial name="LoginPartial"/>
</div>

    
</div>